/*<?php header("Content-Type:text/css; charset: UTF-8"); ?>*/

.main {
    color: white;
    margin: 20px auto 0 auto;
    text-align: center;
}
.main div p {
    font-size: 300%;
}

.main div hr {
    width: 15%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.textdivcontent {
    width: 50%;
    margin: 0 auto 0 auto;
}

.textdiv {
    padding-top: 30px;
    padding-bottom: 30px;
    transition-duration: 0.5s;
}

.textdiv:hover {
    background: rgba(140, 3, 158, 0.5);
    box-shadow: 0 0 24px 6px rgba(173, 43, 89),
                0 0 24px 6px rgba(173, 43, 89) inset;
}

.logo {
    width: 5%;
    margin: 30px;
    background-color: transparent;
    border: #333333 2px solid;
}

.cp {
    color: red;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
    text-align: right;
}
.column {
    float: left;
    width: 40%;
    margin: 0 5% 0 5%;
}

.column form input {
    outline: none;
    margin-top: 20px;
    width: 80%;
    padding: 1% 0 1% 15px;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.column4 {
    float: left;
    width: 33.33%;
}
.row:hover .column4 {
    width: 33.33%;
    height:auto;
    display:block;
}
.columnpic {
    width: 80%;
    height: 90%;
}
.bottom-left {
    position: absolute;
    padding-top: 1%;
    padding-left: 5%;
    bottom: 2.5%;
    margin-left: 10%;
    background-color: rgba(204, 204, 204, 0.5);
    width: 75%;
    height: 10%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}