/*<?php header("Content-Type:text/css; charset: UTF-8"); ?>*/

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /*padding-left: 50px;*/
    color: #ffffff;
}


main form p {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    /* Removes the Scrollbar for a cleaner website-design*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    cursor: default;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000A0B;
    background-image: url(../img/bgbackground3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

div {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #9c0000;
}
a:hover {
    color: dodgerblue;
}

/*
header div {
    background-image: url(../img/headerbg.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
/*main {
    height: 2000px;
}*/

header {
    z-index: 1;
    background-color: black;
    background-image: url(../img/bgbackground3.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: sticky;
    top: 0;
}

header div {
    backdrop-filter: blur(3px);
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    transition-duration: 0.1s;
}

main div {
    margin: 1%;
    /*padding-bottom: 30px;*/
}
main img {
    height: 100%;
    width: 100%;
}
main div div {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}
table, tr, th, td{
    border-collapse: collapse;
    border: black solid 1px;
}
footer {
    background-color: #333333;
    overflow: hidden;
}
footer p, footer a {
    color: white;
    text-decoration: none;
}
footer div {
    padding: 25px;
}

li:hover {
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.2);
    /* padding: 20px 30px;
    margin: 0px 0px; */
}

header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
