/*<?php header("Content-Type:text/css; charset: UTF-8"); ?>*/

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 50px;
    color: #ffffff;
}
main form p {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000a0b;
    background-position-y: 40%;
    background-image: url(../img/bgbackground.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #9c0000;
}
a:hover {
    color: dodgerblue;
}
/*
header div {
    background-image: url(../img/headerbg.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
/*main {
    height: 2000px;
}*/


#logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
#banner {
    height: 200px;
}
#bannerspace {
    margin-top: 20px;
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: right;
}
nav ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 30px;
}
main div {
    margin: 1%;
    padding-bottom: 30px;
}
main img {
    height: 100%;
    width: 100%;
}
main div div {
    margin: 0;
    font-size: 20px;
}
table, tr, th, td{
    border-collapse: collapse;
    border: black solid 1px;
}
footer {
    background-color: #333333;
    overflow: hidden;
}
footer p, footer a {
    color: white;
    text-decoration: none;
}
footer div {
    padding: 30px;
}
.logo {
    width: 5%;
    margin: 30px;
    background-color: transparent;
    border: #333333 2px solid;
}
li:hover {
    color: dodgerblue;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    margin: 0px 0px;
}
.cp {
    color: red;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
    text-align: right;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#titel {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
}
#sup {
    font-size: 10px;
}
#colorinput {
    width: 100px;
}
#myImg{
    width: 100%;
    height: auto;
    float: right;
    margin-top: 10%;
    margin-right: 5%;
}
#cvpic {
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; 
    margin-top: 50px;
    border: 5px solid #000a0b;
}

#download {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #ffffff;
    width: 200px;
    font-size: 15px;
}
